# Database Config (Local)
MYSQL_DATABASE=local_database
MYSQL_HOST=localhost  # This must match the service name in docker-compose.yml
MYSQL_ROOT_PASSWORD=local_root_password
MYSQL_PASSWORD=local_password
MYSQL_USER=local_user
MYSQL_PORT=3306

# Backend Config
NODE_ENV=development
BACKEND_PORT=8000
BACKEND_URL=http://localhost:8000
